.footer {
  background-color: #011846;
  padding: 62px 0 48px;
}

.footer__wrapper {
  font-family: "Montserrat";
  display: grid;
  grid-template-areas:
    "logo links"
    "copy soc";
  grid-row-gap: 64px;
  align-items: center;
}

@media screen and (max-width: 710px) {
  .footer__wrapper {
    grid-template-areas:
      "logo"
      "links"
      "soc"
      "copy";
    grid-row-gap: 32px;
  }
}

.footer__logo {
  grid-area: logo;
  height: 48px;
}

@media screen and (max-width: 710px) {
  .footer__logo {
    height: 32px;
  }
}

.footer__links {
  justify-self: end;
  grid-area: links;
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

@media screen and (max-width: 710px) {
  .footer__links {
    justify-self: start;
    gap: 40px;
  }
}

.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.footer__copyright {
  grid-area: copy;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.footer__socials {
  justify-self: end;
  grid-area: soc;
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 710px) {
  .footer__socials {
    justify-self: start;
  }
}

.footer__social {
  cursor: pointer;
}
